# ------------- app settings -------------
APP_NAME={{cookiecutter.project_name}}
APP_DESCRIPTION={{cookiecutter.project_short_description}}
APP_VERSION={{cookiecutter.version}}
API_PREFIX="/api"
DEBUG=True
CONTACT_NAME={{cookiecutter.full_name}}
CONTACT_EMAIL={{cookiecutter.email}}
LICENSE_NAME="NONE"

# ------------- encrypt settings -------------
SECRET_KEY=secret
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# ------------- environment settings -------------
MODEL_PATH={{cookiecutter.machine_learn_model_path}}
MODEL_NAME={{cookiecutter.machine_learn_model_name}}
INPUT_EXAMPLE={{cookiecutter.input_example_path}}

# ------------- openai settings -------------
GPT_API_KEY=""
GPT_MODEL="gpt-3.5-turbo-16k"
GPT_TEMPERATURE=0.0
GPT_PDF_DEFAULT_QUESTION=""
GPT_PDF_PAGE_PARTS=5
GPT_STATUS_COLOR_QUESTION=""
GPT_STATUS_COLOR_INDEX_COMPARE_TABLE_PATH=""
GPT_STATUS_COLOR_SINOUNS_JSON_PATH=""
GPT_STATUS_COLOR_DICT_BASE_JSON_PATH=""
GPT_GROUP_COLORS_JSON_PATH=""

# ------------- S3 connection settings -------------
S3_BUCKET_NAME=""
S3_ACCESS_KEY=""
S3_SECRET_KEY=""